@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

main.main.career-page {
  .benefits {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 56px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: fn.clip-max(32, 48) fn.clip-max(48, 102);
      align-items: start;
      max-width: 1118px;
      @media (max-width: vars.$md) {
        display: flex;
        flex-direction: column;
      }
    }

    &__item {
      display: flex;
      gap: fn.clip-max(16, 32);
      align-items: flex-start;
      @media (max-width: vars.$xl) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__icon {
      width: fn.clip-min(60, 70);
      height: fn.clip-min(60, 70);
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__name {
      font-weight: 700;
      font-size: 0.9rem;
      line-height: 1.35;
    }

    &__desc {
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 1.4;
    }
  }
}
