@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.main.career-page {
  .desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.35;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 27px;
      max-width: 786px;
      margin: 0 auto;
    }
  }
}
