@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.header {
  display: flex;
  align-items: center;
  height: 66px;
  color: vars.$blue;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.33;
  white-space: nowrap;
  background: vars.$white;

  &__container {
    display: flex;
    gap: 20px;
    align-items: center;

    & > * {
      flex: none;
    }
  }

  &__logo {
    margin-right: auto;
    color: vars.$blue;
    font-weight: 700;
    font-size: fn.clip-max(16,20);
    line-height: 1.33;
  }

  &__nav {
    font-weight: 700;

    &-list {
      display: flex;
      gap: fn.clip-max(15, 30);
      align-items: center;
    }

    &-link {
      &:hover,
      &:focus-visible,
      &:active,
      &_active {
        color: vars.$red;
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }
  }

  &__hr {
    width: 1;
    height: 100%;
    background: vars.$blue;
  }

  &__lang {
    text-transform: uppercase;
  }

  &__search {
    font-size: 0;

    &-icon {
      width: 18px;
      height: 18px;
    }
  }
}
