@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.hero {
  position: relative;
  height: 512px;
  padding: 48px 0 24px;
  color: vars.$white;
  font-weight: 400;
  font-size: fn.clip-min(20, 22);
  line-height: 1.32;
  background: #26b9ea;

  @media (max-width: vars.$md) {
    height: 100vh;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 121.48%;
    @media (max-width: vars.$xl) {
      width: 52%;
      height: unset;
    }
    @media (max-width: vars.$md) {
      display: none;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: auto;
  }

  &__item {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__icon {
    width: fn.clip-min(36, 52);
    height: fn.clip-min(36, 52);
  }

  &__name {
    max-width: 406px;

    &-bold {
      font-weight: 700;
    }
  }

  &__cite {
    margin-top: 67px;
    margin-left: calc(-1 * fn.free-place() + 32px);
    font-weight: 300;
    font-size: 12px;
    line-height: 1.32;
    opacity: 0.6;
  }
}
