@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.main.career-page {
  .hero {
    position: relative;
    padding: fn.clip-min(48, 101) 0 24px;
    color: vars.$white;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.32;
    background: #26b9ea;

    @media (max-width: vars.$md) {
      height: unset;
      padding: 80px 0 40px;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      height: 121.48%;
      @media (max-width: vars.$xl) {
        width: 52%;
        height: unset;
      }
      @media (max-width: vars.$md) {
        display: none;
      }

      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &__container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
    }

    &__title {
      max-width: 407px;
      margin-top: auto;
      margin-bottom: fn.clip-min(24, 40);
      font-weight: 700;
      font-size: 2.3rem;
      line-height: 1.32;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__item {
      display: flex;
      gap: 18px;
      align-items: center;
    }

    &__icon {
      width: fn.clip-min(36, 52);
      height: fn.clip-min(36, 52);
    }

    &__name {
      max-width: 406px;

      &-bold {
        font-weight: 700;
      }
    }

    &__cite {
      margin-top: 67px;
      margin-left: calc(-1 * fn.free-place() + 32px);
      font-weight: 300;
      font-size: 0.6rem;
      line-height: 1.32;
      opacity: 0.6;
    }
  }
}
