@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.mentoring {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.clip-max(32, 64);
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subtitle {
    color: #5d7185;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.35;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.clip-max(32, 56);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: fn.clip-min(16, 32);

    @media (max-width: vars.$xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: vars.$sm) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item-text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__img {
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.35;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  }
}
