@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.offer {
  padding: 66px 0;
  color: vars.$white;
  background: url('@/assets/img/offer-bg.jpg') no-repeat center / cover;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.35;
  }
}
