@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

main.main.career-page {
  .offer {
    position: relative;
    padding: 66px 0;
    color: vars.$white;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__desc {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.35;
    }
  }
}
