{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-rational-order",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-prettier"],
  "ignoreFiles": ["**/*", "!src/**/*"],
  "rules": {
    "string-quotes": "single",
    "no-descending-specificity": null,
    "scss/no-global-function-names": null,
    "selector-class-pattern": null,
    "color-function-notation": null
  }
}
