@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.main.career-page {
  .link {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    color: vars.$red-light;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.35;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
