extends ../layouts/main

block vars
  - const title = 'Карьера';
  - const pageName = 'career';

block content
  include ../components/hero
  include ../components/desc
  include ../components/benefits
  include ../components/offer
  include ../components/internship
  include ../components/mentoring
  include ../components/dynasties
  include ../components/inclusion

  +hero
  +desc
  +benefits
  +offer
  +internship
  +mentoring
  +dynasties
  +inclusion

