include ../components/header
include ../components/footer

block vars
  - const title = 'Document'
  - const lang = 'ru'
  - const pageName = 'Main'


doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./assets/styles/page.css")
    link(rel="stylesheet", href="./assets/styles/template.css")
    link(rel="stylesheet", href="./assets/styles/my-styles.css")
    link(rel="stylesheet", href="./assets/styles/style.css")
    script(defer src="./assets/scripts/main.js") 
    title #{title}
  body
    div(class="app " + pageName)
      +header
      main.main.career-page
        block content
      +footer
