mixin benefits
  section.benefits.section
    .benefits__container.container
      h2.benefits__title.section__title 5 причин работать у нас
      ul.benefits__list
        -
          const benefitsList = [
            {
              icon: './assets/sprite.svg#benefits--icon-1',
              name: 'Репутация',
              desc: 'Мы входим в ТОП-3 Лучших российских работодателей по данным исследования РБК, ноябрь 2022 года.',
            },
            {
              icon: './assets/sprite.svg#benefits--icon-2',
              name: 'Безопасность',
              desc: 'Безопасность – основная ценность для всех сотрудников компании. Это условия работы и ответственность, признаваемая каждым. 100% наших сотрудников прошло обучение по проекту #ЖивиБезопасно.',
            },
            {
              icon: './assets/sprite.svg#benefits--icon-3',
              name: 'Ответственность',
              desc: 'Последние несколько лет компания ЭЛ5-Энерго включается в международный индекс устойчивого развития, получая доверие нескольких социально-ответственных инвестиционных фондов. Мы применяем комбинацию разнообразных источников энергии, а также задействуем бизнес-процессы, призванные увеличить операционную эффективность и заботу об окружающей среде, чтобы обеспечить лучшее будущее для следующих поколений.',
            },
            {
              icon: './assets/sprite.svg#benefits--icon-4',
              name: 'Инновационность',
              desc: 'Мы верим, что исследования – это ключ к будущему энергетики. Мы считаем внедрение и разработку инновационных подходов одним из важнейших инструментов в процессе достижения наших стратегических целей и рассматриваем инновации в качестве одного из основных акселераторов роста для компании. ',
            },
            {
              icon: './assets/sprite.svg#benefits--icon-5',
              name: 'Наши принципы',
              desc: 'Прозрачность, беспристрастность, соревновательность, целостность, высокий уровень сервиса и качества продукта – это лишь некоторые из главных принципов, положенные в основание нашей работы. По этой причине мы создали Кодекс Этики, который отражает все аспекты нашего бизнеса.',
            },
          ];
        each benefit in benefitsList
          li.benefits__item
            svg.benefits__icon
              use(xlink:href=benefit.icon)
            .benefits__text-block 
              h3.benefits__name=benefit.name
              p.benefits__desc=benefit.desc
          