mixin desc 
  section.desc.section
    .desc__container.container 
      .desc__content 
        p.desc__text Электроэнергия и тепло существуют благодаря людям, их квалификации, навыкам и опыту. В ЭЛ5-Энерго таких людей называют коллеги. Мы ценим каждого из них и стремимся создать нечто большее внутри компании. Что-то, что можно назвать «Семья ЭЛ5-Энерго».
        p.desc__text Мы гордимся тем, что по данным исследования РБК (ноябрь 2022 года) ЭЛ5—Энерго (ранее Энел Россия) заняла почётное третье место в рейтинге лучших российских работодателей, а также стала лидером рейтинга в отрасли энергетики. В рейтинге приняли участие 82 компании. 
        p.desc__text Среди сильных сторон лидеров можно выделить высокий объём инвестиций в развитие бизнеса,а также условия труда для сотрудников, включая высокий уровень заработной платы и затрат на обучение персонала, а также качественный социальный пакет.