mixin inclusion
  section.inclusion.section
    .inclusion__container.container
      .inclusion__img-block
        img.inclusion__img(src="@/assets/img/inclusion.jpg", alt="")
      h2.inclusion__title.section__title Многообразие и инклюзивность

      