include ../partials/link

mixin internship
  section.internship.section
    .internship__container.container
      img.internship__img(src="@/assets/img/internship.jpg", alt="")
      .internship__text-block 
        h2.internship__title.section__title Стажировка
        +link('Развивайтесь вместе с нами')