mixin offer
  section.offer.section
    .offer__bg-block
      img.offer__bg(src="@/assets/img/offer-bg.jpg", alt="")
    .offer__container.container
      .offer__text-block
        h2.offer__title.section__title Стать частью ЭЛ5-Энерго
        p.offer__desc Актуальные вакансии и советы кандидатам
      a.btn.offer__btn(href="#")
        | Узнать больше
        svg.offer__btn-icon
          use(xlink:href="./assets/sprite.svg#chevron-right")