@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.main.career-page {
  color: vars.$black;
  font-weight: 400;
  font-size: 1rem;
  font-family: Roobert, sans-serif;
  font-style: normal;
  line-height: 1.35;
  background: vars.$white;

  .container {
    width: 100%;
    max-width: calc(var(--container) + (var(--cont-padding) * 2));
    margin: 0 auto;
    padding-right: var(--cont-padding);
    padding-left: var(--cont-padding);
  }

  .section {
    margin: fn.clip-max(60, 120) 0;

    &__title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.35;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 24px;
    color: vars.$white;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.35;
    background: vars.$red-light;
    border-radius: 10px;

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
